<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Welcome Back 👋</h2>
        <div class="auth-subtitle">Login to continue</div>

        {% for msg in get_flashed_messages() %}
            <div class="flash-msg">{{ msg }}</div>
        {% endfor %}

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <div class="password-wrapper">
    <input type="password" name="password" id="loginPassword" placeholder="Password" required>
    <span class="password-toggle" onclick="toggleLoginPassword()">👁</span>
</div>

            <button type="submit">Login</button>
        </form>

        <div class="auth-link">
            Don’t have an account? <a href="/register">Create one</a>
        </div>
    </div>
</div>
<script>
function toggleLoginPassword() {
    const pwd = document.getElementById("loginPassword");
    pwd.type = pwd.type === "password" ? "text" : "password";
}
</script>

</body>

</html>
